# Simulator files
xcelium*
waves.shm/
.simvision/
xmsim*
.bpad/
imc.key

# Output Files
*.history
*.log
*.vcd
simvision*
xrun.key
*.nfs*
*.dump
*.err
html*

# Other files
*.txt

# Coverage

cov_work/*